.videos-container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

#wrapper-vid2 {
    margin-left: 500px;
}

#canvasLines {
    position: absolute;
    z-index: -1;
}

#wrapper-vid2 {
    margin-left: 350px;
}
